name: CI Drupal Module

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Instalar Composer y dependencias
        run: |
          composer install --prefer-dist --no-progress --no-suggest

      - name: Validar est치ndares de c칩digo
        run: |
          composer require drupal/coder
          ./vendor/bin/phpcs --standard="Drupal,DrupalPractice" -n --extensions="php,module,inc,install,test,profile,theme" --ignore="*.features.*,*.pages*.inc" web/modules/custom/

      - name: Ejecutar PHPUnit
        run: |
          ./vendor/bin/phpunit web/modules/custom/custom_hello/tests/src/Unit

      - name: Configurar SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.BITBUCKET_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan bitbucket.org >> ~/.ssh/known_hosts

      - name: Agregar Bitbucket como remoto
        run: |
            git remote add bitbucket https://te-17032025-admin:${{ secrets.BITBUCKET_PASSWORD }}@bitbucket.org/te-17032025/ci26032025.git
            git fetch origin
            git fetch --unshallow  # Convierte el repositorio en un clon completo
            git reset --hard origin/master  # Descarta cualquier cambio en Bitbucket
         


      - name: Hacer push a Bitbucket
        run: |
           git push --force bitbucket master  # Fuerza la actualizaci칩n en Bitbucket
